<div class="row">
	<h1 class="columns medium-6 medium-centered">Upload an image</h1>
	<%= form_for :image, :html => {:class => 'column medium-6 medium-centered'}, url: images_path do |f| %>
		<div class="row">
			<div class="small-3 columns">
				<%= f.label :title, :class => 'inline' %>
			</div>
			<div class="small-9 columns">
				<%= f.text_field :title %>
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns">
				<%= f.label :description, :class => 'inline' %>
			</div>
			<div class="small-9 columns">
				<%= f.text_area :description %>
			</div>
		</div>
		<div class="row">
			<div class="small-3 columns">
				<%= f.label :image, :class => 'inline' %>
			</div>
			<div class="small-9 columns">
				<%= f.file_field :image %>
			</div>
		</div>
		<%= f.submit "Upload image", :class => 'button' %>
	<% end %>
</div>